.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.BoardStyle {
  background-color: aqua;
  max-width: 940px;
  
  padding: 30px;
  
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.Square{
  height: 70px;
  width: 50px;
  margin: 10px ;
  
/*   background: lightyellow; */
  flex: 30%;
}
.Square:disabled{
  background-color: aliceblue;
}